.product-card {
  background: linear-gradient(135deg, pink, rgb(111, 67, 111));
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(97, 88, 88, 0.2);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}
